@import (reference) '~@atlaskit/util-shared-styles/src/borders';
@import (reference) '~@atlaskit/util-shared-styles/src/colors';
@import (reference) '~@atlaskit/util-shared-styles/src/fonts';
@import (reference) '../common/vars';

@import '~@atlaskit/reduced-ui-pack/dist/bundle.css';
@import '~dhtmlx-gantt/codebase/dhtmlxgantt.css';
@import '../common/flex';
@import './old-styles.css';


.ak-field-margin {
  margin-top: 20px;
}

#gantt-diagram-calendar {
  position: relative;
  min-height: 400px;
  height: ~"calc(100vh - 210px)";
  z-index: 1;
}

#gantt-actions {
  position: relative;
  z-index: 10;
}

.gantt-diagram-actions {
  display: table;
  padding-bottom: 10px;
  width: 100%;
}

.gantt-diagram-zoom {
  display: table-cell;
  text-align: right;
}

.gantt-diagram-actions-period {
  text-align: right;
}

.gantt-diagram-actions-period input.date-field {
  border: none;
  outline: none;
  cursor: pointer;
}

#gantt-diagram-period-startDate {
  text-align: right;
}

.gantt-diagram-weekend-day {
  background-color: rgba(225, 225, 225, .3);
}

#gantt-content {
  margin-top: 0;

  .aui-page-panel-content {
    padding-top: 0;
  }
}

#gantt-content, #gantt-content .gantt_container {
  font-family: @ak-font-family;
  font-size: @ak-font-size-default;
  color: @ak-color-N800;

  border-radius: 0 0 @ak-border-radius @ak-border-radius;
  border: 1px solid @common-border-color;
}

.gantt-actions {
  margin-top: 20px;
}

.gantt-header {
  .flex-row;

  margin-top: 20px;
  padding: 15px;

  border-radius: @ak-border-radius @ak-border-radius 0 0;
  border: 1px solid @common-border-color;
  border-bottom: none;

  .calendar-title {
    font-size: 1.71428571em;
    font-style: inherit;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1.16666667;
  }
}

.gantt_task_progress_drag{
  display: none !important;
}

.scale() {
  font-weight: @label-font-weight;
  font-size: @label-font-size;
  border-bottom-color: @common-border-color;
}

.scale_cell() {
  color: @label-color;
}

.data() {
  border-color: @common-border-color;
}

//left grid
.gantt_grid_scale {
  .scale;

  .gantt_grid_head_cell {
    .scale_cell;

    text-align: left;
    padding: 0 6px;
  }

  .gantt_grid_column_resize_wrap {
    width: 12px;
    margin-left: -6px;
  }
}

.grid_cell {
  //border: none;
  border-color: @common-border-color;
}

.gantt_grid_data {
  .data;
  border-left: none;
}

//timeline

.gantt_task .gantt_task_scale {
  .scale;

  .gantt_scale_cell {
    .scale_cell;

    text-align: left;
    padding-left: 2px;
  }
}

.gantt_scale_line {
  border-top-color: @common-border-color;
}

.gantt_data_area {
  .data;
  //border-left: none;
  //border-right: none;
  border-color: @common-border-color;
}

//cell
.cell-overflow-background(@color) {
  background: linear-gradient(to right, transparent, @color 4px)
}

.gantt_cell {
  color: @label-color;
  font-size: @ak-font-size-default;
  position: relative;

  &:after {
    .cell-overflow-background(white);

    content: '';
    display: block;
    width: 6px;
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

//link
@link-border-width: 4px 6px 4px 6px;

.gantt_task_link .gantt_link_arrow_right {
  border-width: @link-border-width;
  margin-top: -1px;
}
.gantt_task_link .gantt_link_arrow_left {
  border-width: @link-border-width;
  margin-top: -1px;
}
.gantt_task_link .gantt_link_arrow_up {
  border-width: @link-border-width;
}
.gantt_task_link .gantt_link_arrow_down {
  border-width: @link-border-width;
}

@selected-row-bg-color: @ak-color-N20;

.gantt_task_row.gantt_selected {
  background-color: @selected-row-bg-color;
}

.gantt_task_row.gantt_selected .gantt_task_cell {
  border-right-color: #ebebeb;
}

.scrolling {
  .gantt_task_link, .gantt_event_object, .gantt_row {
    opacity: 0.05;
  }
}

//row

.gantt_grid_data .gantt_row {
  border-top: 1px solid transparent;

  &.gantt_selected,
  &.odd.gantt_selected,
  &:hover,
  &.odd:hover {
    background-color: @selected-row-bg-color;

    .gantt_cell:after {
      .cell-overflow-background(@selected-row-bg-color);
    }
  }

  &.unscheduled {
    font-weight: bold;
    color: @ak-color-R500;

    .gantt_cell {
      color: @ak-color-R500;
    }
  }

  &:focus {
    box-shadow: none;
    border-color: @ak-color-B100;
    outline: none;
  }
}

//sprint
.custom-project {
  position: absolute;
  height: 6px;
  color: #ffffff;
  background-color: #444444;
}

.custom-project div {
  position: absolute;
}

.project-left, .project-right {
  top: 6px;
  background-color: transparent;
  border-style: solid;
  width: 0;
  height: 0;
}

.project-left {
  left: 0;
  border-width: 0 0 8px 7px;
  border-top-color: transparent;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: #444444 !important;
}

.project-right {
  right: 0;
  border-width: 0 7px 8px 0;
  border-top-color: transparent;
  border-right-color: #444444;
  border-bottom-color: transparent !important;
  border-left-color: transparent;
}

//task
.gantt_event_object {
  border: none;
  background-color: @ak-color-G200;
  border-radius: @ak-border-radius;

  &.gantt_selected {
    box-shadow: none;
  }

  .gantt_task_drag.task_left {
    display: none
  }

  &.no_link .gantt_link_control {
    display: none;
  }

  &.no_resize .gantt_task_drag.task_right {
    display: none;
  }

  &.overdue {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.resolved {
    background-color: @ak-color-G50;
  }

  &.parent {
    background-color: @ak-color-N100A;
  }

  &.collapsed {
    //height: 4px;
    .gantt_task_content {
      display: none;
    }
  }

  &.child_preview {
    box-sizing: border-box;
    margin-top: 7px;
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 12px;
  }

  .gantt_side_content.gantt_left {
    position: static;
  }
}

.gantt_extension(@color) {
  border: none;

  top: 0;
  right: 0;

  border-radius: 0 @ak-border-radius @ak-border-radius 0;
  pointer-events: none;

  background: repeating-linear-gradient(
        135deg,
        @color,
        @color 2px,
        transparent 2px,
        transparent 6px
  );
}

@overdue-background-color: @ak-color-R300;
@early-background-color: @ak-color-B300;

.gantt_overdue_extension {
  .gantt_extension(lighten(@overdue-background-color, 5%));
}

.gantt_early_extension {
  .gantt_extension(lighten(@early-background-color, 5%));
}

//task progress
@progress-height: 8px;

.progressBar {
  display: inline-block;
  background-color: @ak-color-N40;
  border-radius: @progress-height / 2;
  height: @progress-height;
  width: 68px;
  overflow: hidden;

  > .progressIndicator {
    background-color: @ak-color-B300;
    height: @progress-height;

    &.overdue {
      background-color: @overdue-background-color;
    }
  }
}

.resource_marker,
.resource_marker_min {
  text-align: center;
}

.resource_marker {
  & div {
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    border-radius: 14px;
    color: #FFF;
  }

  &.workday_ok div {
    background: @ak-color-G200;
  }

  &.workday_over div {
    background: @ak-color-R200;
  }
}

.resource_marker_min {
  & div {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    border-radius: 10px;
    color: #FFF;
  }

  &.workday_ok div {
    background: @ak-color-G200;
  }

  &.workday_over div {
    background: @ak-color-R200;
  }
}

#footer {
  display: none;
}
