.vkuiDateInput,
.vkuiCustomSelectDropdown {
  z-index: 1200;
}
div.reminder-dialog {
  & .modal__body {
    overflow: visible;
  }
  z-index: 100;
  position: fixed;
  background: white;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  & .modal__actions-list {
    padding: 20px;
    gap: 10px;
    display: flex;
    place-content: end;
  }
  & .vkuiDateInput {
    z-index: 10;
  }
}
