.remiders-header {
  margin-top: 10px !important;
}

.issue-reminders-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & .Icon:hover {
    cursor: pointer;
    color: rgb(38, 135, 235);
  }
  padding: 0;
  & li {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }
}
