<html>
<head>
    <title>$i18n.getText("ru.mail.jira.plugins.mrimsender.title")</title>
    <meta name="decorator" content="admin" />
    <meta name="admin.active.section" content="admin_plugins_menu/top_plugins_section" />
    <meta name="admin.active.tab" content="configuration-link" />
    $webResourceManager.requireResource( "jira.webresources:autocomplete" ) ## User picker
</head>
<body>
<h2>$i18n.getText( "ru.mail.jira.plugins.mrimsender.title" )</h2>

#if( $saved )
    <div class="aui-message aui-message-success">
        <span class="aui-icon icon-success"></span>
        <p>$i18n.getText( "ru.mail.jira.plugins.mrimsender.configuration.saved" )</p>
    </div>
#end
#if( $action.hasErrorMessages )
    <div class="aui-message aui-message-error">
        <span class="aui-icon icon-error"></span>
        #foreach( $errorMessage in $action.errorMessages )<p>$errorMessage</p>#end
    </div>
#end

<form class="aui" action="MrimsenderConfiguration.jspa" method="post">
    #macro( fieldError $name )
        #if( $action.hasErrors && $action.errors.get( $name ) )
            <div class="error">$action.errors.get( $name )</div>
        #end
    #end
    <input type="hidden" name="atl_token" value="$atl_token" />
    <div class="field-group">
        <label for="host">$i18n.getText( "ru.mail.jira.plugins.mrimsender.configuration.host" )</label>
        <input type="text" class="text" id="host" name="host" value="$!host" />
        #fieldError( "host" )
    </div>
    <div class="field-group">
        <label for="port">$i18n.getText( "ru.mail.jira.plugins.mrimsender.configuration.port" )</label>
        <input type="text" class="text" id="port" name="port" value="$!port" />
        <div class="description">$i18n.getText( "ru.mail.jira.plugins.mrimsender.configuration.portDescription" )</div>
        #fieldError( "port" )
    </div>
    <div class="field-group">
        <label for="login">$i18n.getText( "ru.mail.jira.plugins.mrimsender.configuration.login" )<span class="aui-icon icon-required"></span></label>
        <input type="text" class="text" id="login" name="login" value="$!login" />
        #fieldError( "login" )
    </div>
    <div class="field-group">
        <label for="password">$i18n.getText( "ru.mail.jira.plugins.mrimsender.configuration.password" )<span class="aui-icon icon-required"></span></label>
        <input type="password" class="password" id="password" name="password" value="$!password" />
        #fieldError( "password" )
    </div>
    <div class="field-group">
        <label for="enabledByDefault">$i18n.getText( "ru.mail.jira.plugins.mrimsender.configuration.enabledByDefault" )</label>
        <select class="select" id="enabledByDefault" name="enabledByDefault">
            <option value="true"#if( $enabledByDefault ) selected="selected"#end>$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.notifications.enabled" )</option>
            <option value="false"#if( !$enabledByDefault ) selected="selected"#end>$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.notifications.disabled" )</option>
        </select>
        <div class="description">$i18n.getText( "ru.mail.jira.plugins.mrimsender.configuration.enabledByDefaultDescription" )</div>
        #fieldError( "enabledByDefault" )
    </div>
    <div class="field-group">
        <label for="notifiedUsers">$i18n.getText( "ru.mail.jira.plugins.mrimsender.configuration.notifiedUsers" )</label>
        #userPicker( $action, "notifiedUsers", "$!notifiedUsers", true, false, false, true, false )
        #fieldError( "notifiedUsers" )
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="$i18n.getText( "common.words.save" )" />
        </div>
    </div>
</form>
</body>
</html>
