<div class="module">
    <div class="mod-header">
        <ul class="ops">
            <li>
                <a href="#" id="myteam-edit" class="icon icon-edit-sml" title="$i18n.getText( "common.words.edit" )">
                    <span>$i18n.getText( "common.words.edit" )</span>
                </a>
            </li>
        </ul>
        <h3>$i18n.getText( "ru.mail.jira.plugins.myteam.title" )</h3>
    </div>
    <div class="mod-content">
        <div id="myteam-notification" class="aui-message aui-message-success hidden">
            <span class="aui-icon icon-success"></span>
            <p>$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.updated" )</p>
        </div>
        <ul class="item-details">
            <li>
                <dl>
                    <dt>$i18n.getText( "ru.mail.jira.plugins.myteam.profilePanel.mrimLogin" ):</dt>
                    <dd>
                        <span id="myteam-mrim-login">$!mrimLogin</span>
                    </dd>
                </dl>
                <dl>
                    <dt>$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.notifications" ):</dt>
                    <dd id="myteam-enabled" data-enabled="$enabled">
                        #if( $enabled )
                            $i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.notifications.enabled" )
                        #else
                            $i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.notifications.disabled" )
                        #end
                    </dd>
                </dl>
                #if ($enabled)
                    #if ($botName && !$botName.isEmpty())
                        <dl>
                            <dt>$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.botNick" ):</dt>
                            <dd>
                                <div>
                                    #if ($botLink && !$botLink.isEmpty())
                                        <a href="$botLink" target="_blank">$botName</a>
                                    #else
                                        <p>$botName</p>
                                    #end
                                </div>
                                <div>$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.botNickDescription" )</div>
                            </dd>
                        </dl>
                    #elseif($botLink && !$botLink.isEmpty())
                        <dl>
                            <dt>$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.botLink" ):</dt>
                            <dd>
                                <div>
                                    <a href="$botLink" target="_blank">$botLink</a>
                                </div>
                                <div>$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.botNickDescription" )</div>
                            </dd>
                        </dl>
                    #end
                #end
            </li>
        </ul>
    </div>
    <form id="myteam-dialog-form" class="aui hidden">
        <div id="myteam-dialog-error" class="aui-message aui-message-error hidden">
            <span class="aui-icon icon-error"></span>
            <p></p>
        </div>
        <div class="field-group">
            <label for="myteam-dialog-mrim-login">$i18n.getText( "ru.mail.jira.plugins.myteam.profilePanel.mrimLogin" )</label>
            <input type="text" id="myteam-dialog-mrim-login" class="text" maxlength="254" />
        </div>
        <div class="field-group">
            <label for="myteam-dialog-enabled">$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.notifications" )</label>
            <select id="myteam-dialog-enabled" class="select">
                <option value="true">$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.notifications.enabled" )</option>
                <option value="false">$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.notifications.disabled" )</option>
            </select>
            <div class="description">$i18n.getText( "ru.mail.jira.plugins.mrimsender.profilePanel.notifications.description" )</div>
        </div>
        <input type="submit" class="hidden" />
    </form>
</div>
