<html>
<head>
    <title>$i18n.getText("ru.mail.jira.plugins.myteam.title")</title>
    <meta name="decorator" content="admin" />
    <meta name="admin.active.section" content="admin_plugins_menu/top_plugins_section" />
    <meta name="admin.active.tab" content="ru.mail.jira.plugins.myteam:myteam-configuration-link" />
    $webResourceManager.requireResource( "jira.webresources:autocomplete" ) ## User picker
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource( "ru.mail.jira.plugins.myteam:configuration-page-resource" )
</head>
<body>
<h2>$i18n.getText( "ru.mail.jira.plugins.myteam.title" )</h2>

#if( $saved )
    <div class="aui-message aui-message-success">
        <span class="aui-icon icon-success"></span>
        <p>$i18n.getText( "ru.mail.jira.plugins.myteam.configuration.saved" )</p>
    </div>
#end
#if( $action.hasErrorMessages )
    <div class="aui-message aui-message-error">
        <span class="aui-icon icon-error"></span>
        #foreach( $errorMessage in $action.errorMessages )<p>$errorMessage</p>#end
    </div>
#end

<form class="aui" action="MyteamConfiguration.jspa" method="post">
    #macro( fieldError $name )
        #if( $action.hasErrors && $action.errors.get( $name ) )
            <div class="error">$action.errors.get( $name )</div>
        #end
    #end
    #macro( select $array $value )
        #foreach( $item in $array )
            #if ( $item.id == $value )
                selected
            #end
        #end
    #end
    <input type="hidden" name="atl_token" value="$atl_token" />
    <div class="field-group">
        <label for="tokenFilePath">$i18n.getText( "ru.mail.jira.plugins.myteam.configuration.tokenFilePath" )<span class="aui-icon icon-required"></span></label>
        <input type="text" class="text" id="tokenFilePath" name="tokenFilePath" value="$!tokenFilePath" />
        #fieldError( "tokenFilePath" )
    </div>
    <div class="field-group">
        <label for="botApiUrl">$i18n.getText( "ru.mail.jira.plugins.myteam.configuration.botApiUrl" )<span class="aui-icon icon-required"></span></label>
        <input type="text" class="text" id="botApiUrl" name="botApiUrl" value="$!botApiUrl" />
        #fieldError( "botApiUrl" )
    </div>
    <div class="field-group">
        <label for="botName">$i18n.getText( "ru.mail.jira.plugins.myteam.configuration.botName" )</label>
        <input type="text" class="text" id="botName" name="botName" value="$!botName" />
    </div>
    <div class="field-group">
        <label for="botLink">$i18n.getText( "ru.mail.jira.plugins.myteam.configuration.botLink" )</label>
        <input type="text" class="text" id="botLink" name="botLink" value="$!botLink" />
    </div>
    <div class="field-group">
        <label for="enabledByDefault">$i18n.getText( "ru.mail.jira.plugins.myteam.configuration.enabledByDefault" )</label>
        <select class="select" id="enabledByDefault" name="enabledByDefault">
            <option value="true"#if( $enabledByDefault ) selected="selected"#end>$i18n.getText( "ru.mail.jira.plugins.myteam.profilePanel.notifications.enabled" )</option>
            <option value="false"#if( !$enabledByDefault ) selected="selected"#end>$i18n.getText( "ru.mail.jira.plugins.myteam.profilePanel.notifications.disabled" )</option>
        </select>
        <div class="description">$i18n.getText( "ru.mail.jira.plugins.myteam.configuration.enabledByDefaultDescription" )</div>
        #fieldError( "enabledByDefault" )
    </div>
    <input id="mrimsender-create-issue-excluding-projects-ids" class="hidden" name="excludingProjectIds" value="$action.excludingProjectIds"/>
    <div class="field-group">
        <label for="mrimsender-create-issue-excluding-projects">$i18n.getText("ru.mail.jira.plugins.myteam.configuration.excludedProjects")</label>
        <select class="select long-field mrimsender-create-issue-excluding-projects" type="text" name="mrimsender-create-issue-excluding-projects" multiple="true">
            #foreach( $project in $action.getProjects() )
                <option value="$project.id" #select( $action.getExcludingProjects() $project.id )>$project.name ($project.key)</option>
            #end
        </select>
        <div class="description">$i18n.getText("ru.mail.jira.plugins.myteam.configuration.excludedProjects.description")</div>
        #fieldError( "excludingProjectIds" )
    </div>

    <input id="myteam-chat-creation-enabled-project-ids" class="hidden" name="chatCreationAllowedProjectIds" value="$action.chatCreationAllowedProjectIds"/>
    <div class="field-group">
        <label for="myteam-chat-creation-enabled-projects">$i18n.getText("ru.mail.jira.plugins.myteam.configuration.chatCreationProjects")</label>
        <select class="select long-field myteam-chat-creation-enabled-projects" type="text" name="myteam-chat-creation-enabled-projects" multiple="true">
            #foreach( $project in $action.getProjects() )
                <option value="$project.id" #select( $action.getChatCreationAllowedProjects() $project.id )>$project.name ($project.key)</option>
            #end
        </select>
        <div class="description">$i18n.getText("ru.mail.jira.plugins.myteam.configuration.chatCreationProjects.description")</div>
        #fieldError( "chatCreationAllowedProjectIds" )
    </div>

    <div class="field-group">
        <label for="notifiedUsers">$i18n.getText( "ru.mail.jira.plugins.myteam.configuration.notifiedUsers" )</label>
        #userPicker( $action, "notifiedUsers", "$!notifiedUsers", true, false, false, true, false )
        #fieldError( "notifiedUsers" )
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" type="submit" value="$i18n.getText( "common.words.save" )" />
        </div>
    </div>
</form>
</body>
</html>
