.reminder-menu-item {
    color: #172b4d;
    display: block;
    margin: 0;
    padding: 3px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
