.vkuiDateInput,
.vkuiCustomSelectDropdown {
  z-index: 1200;
}
div.reminder-dialog {
  & .atlas-ui-modalBody {
    overflow: visible;
  }

  & .atlas-ui-modalActionsList {
    padding: 20px;
    gap: 10px;
    display: flex;
    place-content: end;
  }
  & .vkuiDateInput {
    z-index: 10;
  }
}
