<section role="dialog" id="calendar-feed-dialog" class="aui-layer aui-dialog2" aria-hidden="true">
    <input type="hidden" id="calendar-feed-dialog-uid">
    <input type="hidden" id="calendar-feed-dialog-userkey">
    <header class="aui-dialog2-header">
        <h2 id="calendar-feed-dialog-header" class="aui-dialog2-header-main">$i18n.getText("ru.mail.jira.plugins.calendar.feedCalendar")</h2>
    </header>
    <div class="aui-dialog2-content">
        <div id="calendar-feed-dialog-content">
            <p>$i18n.getText('ru.mail.jira.plugins.calendar.feed.dialog.text.intro')</p>
            <ul>1. $i18n.getText('ru.mail.jira.plugins.calendar.feed.dialog.text.choose')</ul>
            <form class="aui">
                <input type="hidden" id="calendar-feed-dialog-calendars" class="long-field calendar-feed-dialog-select">
            </form>
            <div id="calendar-feed-dialog-url" class="field-group">
                <ul>2. $i18n.getText('ru.mail.jira.plugins.calendar.feed.dialog.text.useurl')</ul>
                <p><span id="calendar-feed-dialog-url-field" class="url-field"></span></p>
            </div>
            <p>$i18n.getText('ru.mail.jira.plugins.calendar.feed.dialog.text.more')</p>
            <p>
                <ul><a href="https://www.calendarwiz.com/knowledgebase/entry/71/">Outlook</a></ul>
                <ul><a href="https://support.apple.com/ru-ru/HT202361">ICalendar</a></ul>
                <ul><a href="https://www.carrollwooddayschool.org/uploaded/documents/CalendarFeed.pdf">IOS Calendar</a></ul>
                <ul><a href="https://support.google.com/calendar/answer/37100?hl=ru">Google Calendar</a></ul>
            </p>
            <div id="calendar-feed-dialog-message" class="aui-message aui-message-warning">
                <p class="title">
                    <strong>$i18n.getText('ru.mail.jira.plugins.calendar.feed.dialog.text.info')</strong>
                </p>
                $i18n.getText('ru.mail.jira.plugins.calendar.feed.dialog.text.info.warning')
                <button id="calendar-feed-dialog-delete" class="aui-button aui-button-subtle">$i18n.getText("ru.mail.jira.plugins.calendar.feed.dialog.regenerate")</button>
            </div>
        </div>
    </div>
    <footer class="aui-dialog2-footer" style="width: 100%">
        <div class="aui-dialog2-footer-actions">
            <button id="calendar-feed-dialog-ok" class="aui-button aui-button-primary">$i18n.getText("admin.common.words.ok" )</button>
        </div>
    </footer>
</section>
