<section role="dialog" id="mailrucalendar-calendar-import-dialog" class="aui-layer aui-dialog2" aria-hidden="true">

    <script type="text/template" id="import-calendars-row-template">
        <tr>
            <td class="mailrucalendar-table-select-column">
                <input class="checkbox" type="checkbox" data-id="<%= calendar.id %>">
            </td>
            <td>
                <div class="mailrucalendar-table-icon-column">
                    <div class="calendar-view-color-box mailrucalendar-table-icon" style="background-color: <%= calendar.color %>;"/>
                    <%= calendar.name %>
                </div>
            </td>
            <td>
                <% if (calendar.owner) { %>
                <div rel="<%= calendar.owner %>" class="mailrucalendar-table-icon-column user-hover">
                    <span class="aui-avatar aui-avatar-xsmall mailrucalendar-table-icon">
                        <span class="aui-avatar-inner">
                            <img src="<%= calendar.ownerAvatarUrl %>" />
                        </span>
                    </span>
                    <%= calendar.ownerFullName %>
                </div>
                <% } else { %>
                <span><%= calendar.ownerFullName %></span>
                <% } %>
            </td>
            <td><%= calendar.usersCount || 0 %></td>
        </tr>
    </script>

    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">$i18n.getText( "ru.mail.jira.plugins.calendar.addSharedCalendar" )</h2>
    </header>
    <div class="aui-dialog2-content">
        <form class="aui top-label ajs-dirty-warning-exempt" autocomplete="off">
            #if( $action.isAdmin )
                <div id="mailrucalendar-admin-message" class="aui-message aui-message-generic">
                    $i18n.getText( "ru.mail.jira.plugins.calendar.import.dialog.admin.message" ) <span></span>
                </div>
            #end
            <div class="field-group">
                <div class="mailrucalendar-search-field">
                    <span class="aui-icon aui-icon-small aui-iconfont-search-small"></span>
                    <input type="text" class="text" id="mailrucalendar-query" maxlength="254" placeholder="$i18n.getText( "ru.mail.jira.plugins.calendar.import.dialog.search.placeholder" )"></input>
                </div>
            </div>
        </form>
        <div id="mailrucalendar-query-no-result">
            $i18n.getText( "ru.mail.jira.plugins.calendar.import.dialog.noResultFound" ) <span></span>
        </div>
        <table id="mailrucalendar-import-calendars-table" class="aui aui-table-rowhover">
            <thead>
            <tr>
                <th class="mailrucalendar-table-select-column"></th>
                <th>$i18n.getText( "ru.mail.jira.plugins.calendar.linkTitle" )</th>
                <th>$i18n.getText( "common.concepts.owner" )</th>
                <th>$i18n.getText( "admin.common.words.users" )</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="mailrucalendar-no-calendars-for-import" class="aui-message aui-message-generic">
            $i18n.getText( "ru.mail.jira.plugins.calendar.import.dialog.noCalendarsForImport" ) <span></span>
        </div>
    </div>
    <footer class="aui-dialog2-footer" style="width: 100%">
        <div class="aui-dialog2-footer-actions">
            <button id="calendar-import-dialog-ok" class="aui-button aui-button-primary">$i18n.getText( "common.forms.add" )</button>
            <button id="calendar-import-dialog-cancel" class="aui-button aui-button-link">$i18n.getText( "common.words.cancel" )</button>
        </div>
    </footer>
</section>
