<html>
<head>
    <title>$i18n.getText( "ru.mail.jira.plugins.calendar.linkTitle" )</title>
    <meta name="decorator" content="atl.general"/>
    <meta name="ajs-advanced-search-help-url" content="https://docs.atlassian.com/jira/docs-064/Advanced+Searching"/>
    <meta name="ajs-advanced-search-help-title" content="$i18n.getText( "navigator.advanced.query.syntax" )"/>
    $webResourceManager.requireResource( "jira.webresources:global-static" )
    $webResourceManager.requireResource( "jira.webresources:jira-global" )
    $webResourceManager.requireResource( "ru.mail.jira.plugins.mailrucal:calendar-resources" )
</head>
<body>
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>$i18n.getText( "ru.mail.jira.plugins.calendar.linkTitle" )</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <button id="calendar-period-btn" class="aui-button aui-dropdown2-trigger" aria-owns="calendar-period-dropdown" aria-haspopup="true">
                    <span class="aui-icon aui-icon-small aui-iconfont-calendar"></span>
                    <span class="trigger-label"></span>
                </button>
            </div>
            <div class="aui-buttons">
                <button id="calendar-create-feed" class="aui-button">
                    <span class="aui-icon aui-icon-small aui-iconfont-blogroll"></span>
                    $i18n.getText( "ru.mail.jira.plugins.calendar.feedCalendar" )
                </button>
            </div>
            <div class="aui-buttons">
                <button class="aui-button aui-dropdown2-trigger" aria-owns="calendar-add-dropdown" aria-haspopup="true">
                    <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                    $i18n.getText( "ru.mail.jira.plugins.calendar.addCalendar" )
                </button>
            </div>
        </div>
        <div id="calendar-period-dropdown" class="aui-style-default aui-dropdown2" aria-hidden="true" data-dropdown2-alignment="left">
            <ul class="aui-list-truncate">
                <li><a href="#period/quarter" class="aui-dropdown2-radio">$i18n.getText( "ru.mail.jira.plugins.calendar.quarter" )</a></li>
                <li><a href="#period/month" class="aui-dropdown2-radio">$i18n.getText( "ru.mail.jira.plugins.calendar.month" )</a></li>
                <li><a href="#period/agendaWeek" class="aui-dropdown2-radio">$i18n.getText( "ru.mail.jira.plugins.calendar.week" )</a></li>
                <li><a href="#period/agendaDay" class="aui-dropdown2-radio">$i18n.getText( "ru.mail.jira.plugins.calendar.day" )</a></li>
                <li><a href="#period/timeline" class="aui-dropdown2-radio">$i18n.getText( "ru.mail.jira.plugins.calendar.timeline" )</a></li>
            </ul>
        </div>
        <div id="calendar-add-dropdown" class="aui-style-default aui-dropdown2" aria-hidden="true" data-dropdown2-alignment="left">
            <ul class="aui-list-truncate">
                <li><a id="calendar-create" href="#">$i18n.getText( "ru.mail.jira.plugins.calendar.common.create" )</a></li>
                <li><a id="calendar-import" href="#">$i18n.getText( "ru.mail.jira.plugins.calendar.common.add" )</a></li>
            </ul>
        </div>
    </div>
    <ol class="aui-nav aui-nav-breadcrumbs"></ol>
</header>
<div class="aui-page-panel calendar-view-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <div id="calendar-full-calendar"></div>
        </section>
        <div class="aui-page-panel-nav">
            <nav class="aui-navgroup aui-navgroup-vertical">
                <div class="aui-navgroup-inner" id="mailrucalendar-empty-calendar-list" hidden>
                    $i18n.getText( "ru.mail.jira.plugins.calendar.emptyCalendarList" )
                </div>
                <div class="aui-navgroup-inner" id="calendar-favorite-calendar-list">
                </div>
            </nav>
        </div>
    </div>
</div>
#parse( "ru/mail/jira/plugins/calendar/dialog/calendar-dialog.vm" )
#parse( "ru/mail/jira/plugins/calendar/dialog/feed-dialog.vm" )
#parse( "ru/mail/jira/plugins/calendar/dialog/import-dialog.vm" )
#parse( "ru/mail/jira/plugins/calendar/dialog/confirm-dialog.vm" )
</body>
</html>