#* @vtlvariable name="licenseStatus" type="ru.mail.jira.plugins.calendar.service.licence.LicenseStatus" *#
<html>
<head>
    <title>$i18n.getText( "ru.mail.jira.plugins.calendar.linkTitle" )</title>
    <meta name="decorator" content="atl.general"/>
    <meta name="ajs-advanced-search-help-url" content="https://docs.atlassian.com/jira/docs-064/Advanced+Searching"/>
    <meta name="ajs-advanced-search-help-title" content="$i18n.getText( "navigator.advanced.query.syntax" )"/>
    <meta name="ajs-mailrucal-use-iso8601" content="$iso8601Used"/>
    $webResourceManager.requireResource( "jira.webresources:global-static" )
    $webResourceManager.requireResource( "jira.webresources:jira-global" )
    $webResourceManager.requireResource( "ru.mail.jira.plugins.mailrucal:calendar-resources" )
</head>
<body>
#if (!$licenseStatus.valid)
    <div class="aui-banner aui-banner-error">
        #text("ru.mail.jira.plugins.calendar.linkTitle") #text("ru.mail.jira.plugins.license.readOnly"): ${licenseStatus.error}
        #if ($isAdmin)
            <br/>
            <a href="https://my.atlassian.com/purchase/buyaddon?key=ru.mail.jira.plugins.mailrucal">#text("ru.mail.jira.plugins.license.purchase")</a>
            <a href="$baseurl/plugins/servlet/upm#manage/ru.mail.jira.plugins.mailrucal">#text("ru.mail.jira.plugins.license.upm")</a>
        #end
    </div>
#end
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>$i18n.getText( "ru.mail.jira.plugins.calendar.linkTitleShort" )</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <button id="calendar-period-btn" class="aui-button aui-dropdown2-trigger" aria-owns="calendar-period-dropdown" aria-haspopup="true">
                    <span class="aui-icon aui-icon-small aui-iconfont-calendar"></span>
                    <span class="trigger-label"></span>
                </button>
            </div>
            <div class="aui-buttons">
                <a href="$baseurl/secure/MailRuGanttDiagram.jspa?calendarId=-1" class="aui-button">
                    <span class="aui-icon aui-icon-small aui-iconfont-roadmap"></span>
                    $i18n.getText( "ru.mail.jira.plugins.calendar.goToGantt" )
                </a>
            </div>
            <div class="aui-buttons">
                <button id="calendar-create-feed" class="aui-button">
                    <span class="aui-icon aui-icon-small aui-iconfont-blogroll"></span>
                    $i18n.getText( "ru.mail.jira.plugins.calendar.feedCalendar" )
                </button>
            </div>
            <div class="aui-buttons">
                <button class="aui-button aui-dropdown2-trigger" aria-owns="calendar-add-dropdown" aria-haspopup="true">
                    <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                    $i18n.getText( "ru.mail.jira.plugins.calendar.addCalendar" )
                </button>
            </div>
        </div>
        <div id="calendar-period-dropdown" class="aui-style-default aui-dropdown2" aria-hidden="true" data-dropdown2-alignment="left">
            <ul class="aui-list-truncate">
                <li><a href="#" data-view-type="quarter" class="aui-dropdown2-radio">$i18n.getText( "ru.mail.jira.plugins.calendar.quarter" )</a></li>
                <li><a href="#" data-view-type="month" class="aui-dropdown2-radio">$i18n.getText( "ru.mail.jira.plugins.calendar.month" )</a></li>
                <li><a href="#" data-view-type="agendaWeek" class="aui-dropdown2-radio">$i18n.getText( "ru.mail.jira.plugins.calendar.week" )</a></li>
                <li><a href="#" data-view-type="agendaDay" class="aui-dropdown2-radio">$i18n.getText( "ru.mail.jira.plugins.calendar.day" )</a></li>
                <li><a href="#" data-view-type="timeline" class="aui-dropdown2-radio">$i18n.getText( "ru.mail.jira.plugins.calendar.timeline" )</a></li>
            </ul>
        </div>
        <div id="calendar-add-dropdown" class="aui-style-default aui-dropdown2" aria-hidden="true" data-dropdown2-alignment="left">
            <ul class="aui-list-truncate">
                <li><a id="calendar-create" href="#">$i18n.getText( "ru.mail.jira.plugins.calendar.common.create" )</a></li>
                <li><a id="calendar-import" href="#">$i18n.getText( "ru.mail.jira.plugins.calendar.common.addExisting" )</a></li>
            </ul>
        </div>
    </div>
    <ol class="aui-nav aui-nav-breadcrumbs"></ol>
</header>
<div class="aui-page-panel calendar-view-page-panel">
    <div id="calendar-quick-filters">
        <dl class="calendar-quick-filters">
            <dt>
                <span class="calendar-quick-filters-label" title="$i18n.getText( "ru.mail.jira.plugins.calendar.quick.filter.tooltip" )">Quick Filters:</span>
            </dt>
        </dl>
    </div>
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
            <div id="calendar-full-calendar"></div>
        </section>
        <div class="aui-page-panel-nav">
            <nav class="aui-navgroup aui-navgroup-vertical">
                <div class="aui-navgroup-inner hidden" id="mailrucalendar-message-calendar-list">
                </div>
                <div class="aui-navgroup-inner" id="mailrucalendar-empty-calendar-list" hidden>
                    $i18n.getText( "ru.mail.jira.plugins.calendar.emptyCalendarList" )
                </div>
                <div class="aui-navgroup-inner" id="calendar-favorite-calendar-list">
                </div>
            </nav>
        </div>
    </div>
</div>
</body>
</html>