<html>
<head>
    <title>$i18n.getText( "ru.mail.jira.plugins.myteam.subscriptions.page.title" )</title>
    <meta name="decorator" content="atl.general"/>
    $webResourceManager.requireResourcesForContext( "atl.general" )
    $webResourceManager.requireResourcesForContext( "jira.general" )
    $webResourceManager.requireResourcesForContext( "ru.mail.jira.plugins.myteam.manage.filter.subscriptions.page" )
</head>
<body>
    <div id="myteam-filter-subscriptions-container">
</div>
</body>
</html>